.dashboard-container{
    position: relative;
    width: 100%;
    height: 100%;
}
.dashboard-container .dashboard-top-container{
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    border-bottom: solid 1px black;
    background-color: #2bcbba;
    z-index: 200;

    /*FLEX*/
    display: flex;
}
.dashboard-container .dashboard-top-container .section{
    flex: 1 1;
}
.dashboard-container .dashboard-top-container .section .hamburger-button{
    position: relative;
    left: 20px;
    width: 50px;
    margin-top: 17px;
}
.dashboard-container .dashboard-top-container .section .hamburger-button .hamburger:hover{
    cursor: pointer;
    color: black;
    transform: scale(1.1);
}
.dashboard-container .dashboard-top-container .section .hamburger-button .hamburger .line{
    display: block;
    width: 33px;
    height: 3px;
    margin-top: 8px;
    border-radius: 3px;
    background-color: black;
}
.dashboard-container .dashboard-top-container .section .logo{
    text-align: center;
}
.dashboard-container .dashboard-top-container .section .logo img{
    height: 50px;
    width: 50px;
    margin-top: 5px;
}
.dashboard-container .dashboard-top-container .section{
    position: relative;
    width: 100%;
    height: 60px;
}
.dashboard-container .dashboard-top-container .section .notification-button{
    position: absolute;
    right: 240px;
    height: 60px;
}
.dashboard-container .dashboard-top-container .section .notification-button label{
    position: absolute;
    z-index: 1;
    top: 5px;
    right: 0;
    font-size: 12.5px;
    background-color: #fc5c65;
    border: solid 1px black;
    border-radius: 3px;
}
.dashboard-container .dashboard-top-container .section .notification-button label:hover{
    cursor: pointer;
}
.dashboard-container .dashboard-top-container .section .notification-button .notification-button-icon{
    font-size: 30px;
    margin-top: 15px;
    cursor: pointer;
    transform: scale(1);
}
.dashboard-container .dashboard-top-container .section .notification-button .notification-button-icon:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.dashboard-container .dashboard-top-container .section .profile-box{
    position: absolute;
    right: 20px;
    height: 60px;

    /*FLEX*/
    display: flex;
    align-items: center;
}
.dashboard-container .dashboard-top-container .section .profile-box label{
    font-size: 18px;
    margin-right: 15px;
}
.dashboard-container .dashboard-top-container .section .profile-box label:hover{
    cursor: pointer;
    transform: scale(1.05);
}
.dashboard-container .dashboard-top-container .section .profile-box img{
    width: 40px;
    height: 40px;
    border: solid 5px black;
    border-radius: 99rem;
    object-fit: cover;
    object-position: 50% 50%;
    box-shadow: 0 0 3px black;
    background-color: white;
}
.dashboard-container .dashboard-top-container .section .profile-box img:hover{
    cursor: pointer;
    transform: scale(1.05);
}
.dashboard-container .dashboard-top-container .hamburger-menu-container{
    position: absolute;
    left: 0; 
    top: 61px;
    width: 300px;
    background-color: white;
    box-shadow: 0 1px 5px black;
    display: none;
}
.dashboard-container .dashboard-top-container .hamburger-menu-container .hamburger-box{
    list-style: none;
}
.dashboard-container .dashboard-top-container .hamburger-menu-container .hamburger-box li label{
    position: relative;
    padding: 10px 10px 10px 40px;
    font-size: 15px;

    /*FLEX*/
    display: flex;
    align-items: center;
}
.dashboard-container .dashboard-top-container .hamburger-menu-container .hamburger-box li label:hover{
    background-color: rgb(230, 230, 230);
    cursor: pointer;
    text-decoration: underline;
}
.dashboard-container .dashboard-top-container .hamburger-menu-container .hamburger-box li label .hamburger-option-icon{
    font-size: 15px;
}
.dashboard-container .dashboard-top-container .hamburger-menu-container .hamburger-box li label .derecha{
    position: absolute;
    right: 15px;
}
.dashboard-container .dashboard-top-container .hamburger-menu-container .hamburger-box li label .izquierda{
    position: absolute;
    left: 15px;
}
.dashboard-container .dashboard-top-container .hamburger-menu-container .hamburger-box ul{
    display: block;
}
.dashboard-container .dashboard-top-container .hamburger-menu-container .hamburger-box ul li label{
    padding: 10px 10px 10px 60px;
}
.dashboard-container .dashboard-top-container .notification-menu-container{
    position: absolute;
    right: 5px; 
    top: 61px;
    width: 320px;
    height: 375px;
    padding-top: 20px;
    filter: drop-shadow(0 1px 2px black);

    /*FLEX*/
    display: flex;
    flex-direction: column;
    display: none;
}
.dashboard-container .dashboard-top-container .notification-menu-container::before{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: white;
    clip-path: polygon(0 100%, 100% 100%, 100% 20px, 83px 20px, 73px 0, 63px 20px, 0 20px);
    content: '';
}
.dashboard-container .dashboard-top-container .notification-menu-container .notification-section{
    width: 100%;
    height: 60px;
    margin-bottom: 5px;
    
    /*FLEX*/
    display: flex;
}
.dashboard-container .dashboard-top-container .notification-menu-container .notification-section:hover{
    background-color: rgb(230, 230, 230);
    cursor: pointer;
}
.dashboard-container .dashboard-top-container .notification-menu-container .notification-section .notification-description{
    width: 80%;
    height: 60px;
    border-left: solid 1px rgb(175, 175, 175);
}
.dashboard-container .dashboard-top-container .notification-menu-container .notification-section .notification-description .title{
    font-size: 15px;
    font-weight: 500;
    padding: 2.5px 10px 2.5px 10px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    text-align: left;
}
.dashboard-container .dashboard-top-container .notification-menu-container .notification-section .notification-description .description-text{
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
    overflow: hidden;
}
.dashboard-container .dashboard-top-container .notification-menu-container .notification-section .notification-view{
    width: 20%;
    height: 60px;

    /*FLEX*/
    display: flex;
    align-items: center;
    justify-content: center;
}
.dashboard-container .dashboard-top-container .notification-menu-container .notification-section .notification-view .notification-view-icon{
    font-size: 30px;
    color: black;
}
.dashboard-container .dashboard-top-container .profile-menu-container{
    position: absolute;
    right: 5px; 
    top: 61px;
    width: 200px;
    padding-top: 20px;
    filter: drop-shadow(0 1px 2px black);
    display: none;
}
.dashboard-container .dashboard-top-container .profile-menu-container::before{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: white;
    clip-path: polygon(0 100%, 100% 100%, 100% 20px, 170px 20px, 160px 0, 150px 20px, 0 20px);
    content: '';
}
.dashboard-container .dashboard-top-container .profile-menu-container label{
    position: relative;
    padding: 10px 10px 10px 35px;
    font-size: 15px;

    /*FLEX*/
    display: flex;
    align-items: center;
}
.dashboard-container .dashboard-top-container .profile-menu-container label:hover{
    background-color: rgb(230, 230, 230);
    cursor: pointer;
    text-decoration: underline;
}
.dashboard-container .dashboard-top-container .profile-menu-container label .profile-option-icon{
    position: absolute;
    left: 10px;
}
.dashboard-container .principal-menu-container{
    position: fixed;
    top: 61px;
    width: 100%;
    height: 30px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
    z-index: 100;
    background-color: white;

    /*FLEX*/
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.dashboard-container .principal-menu-container label{
    position: relative;
    font-size: 15px;
    line-height: 30px;
    padding: 0 12.5px 0 12.5px;
}
.dashboard-container .principal-menu-container label:hover{
    background-color: rgb(230, 230, 230);
    cursor: pointer;
    text-decoration: underline;
}
.dashboard-container .principal-menu-container label .options{
    position: absolute;
    top: 30px;
    left: 0;
    width: 270px;
    background-color: white;
    filter: drop-shadow(0 2px 2px black);

    /*FLEX*/
    display: none;
    flex-direction: column;
}
.dashboard-container .principal-menu-container label:hover > .options{
    display: flex;
}
.dashboard-container .principal-menu-container label .options label{
    padding: 5px 0 5px 10px;
    font-size: 15px;
}
.dashboard-container .principal-menu-container label .options .search-task-container{
    position: relative;

    /*FLEX*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.dashboard-container .principal-menu-container label .options .search-task-container input{
    border: none;
    font-size: 15px;
    padding: 10px 30px 10px 10px;
}
.dashboard-container .principal-menu-container label .options .search-task-container .search-task-icon{
    position: absolute;
    right: 10px;
    font-size: 15px;
}
.dashboard-container .principal-menu-container label .options .search-task-container .search-task-icon:hover{
    cursor: text;
}
.dashboard-container .principal-menu-container label .options hr{
    margin-top: 5px;
    margin-bottom: 5px;
}
.dashboard-container .dash-modal{
    position: fixed;
    z-index: 250;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);

    /*FLEX*/
    display: flex;
    align-items: center;
    justify-content: center;

    display: none;
}
.dashboard-container .dash-modal .dash-body{
    position: relative;
    width: 50%;
    max-width: 650px;
    min-width: 400px;
    height: 70%;
    max-height: 450px;
    min-height: 300px;
    background-color: white;
    border-radius: 5px;
    padding: 20px 50px 20px 50px;
}
.dashboard-container .dash-modal .dash-body .dash-exit-icon{
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 20px;
    color: gray;
}
.dashboard-container .dash-modal .dash-body .dash-exit-icon:hover{
    cursor: pointer;
    color: black;
    transform: scale(1.1);
}
.dashboard-container .dash-modal .dash-body h2{
    margin-bottom: 20px;
    text-align: center;
    color: #2bcbba;
    font-size: 30px;
    line-height: 30px;
    font-weight: 800;
    -webkit-text-stroke: 2px black;
}
.dashboard-container .dash-modal .dash-body .top{
    width: 100%;
    height: 40px;
    margin-bottom: 30px;

    /*FLEX*/
    display: flex;
    justify-content: space-between;
}
.dashboard-container .dash-modal .dash-body .top input{
    height: 40px;
    width: 45%;
    background: white;
    text-align: center;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 500;
    border: solid 2px black;
}
.dashboard-container .dash-modal .dash-body .top input:focus{
    outline: 0;
    border: solid 2px #2bcbba;
    box-shadow: black 0px 0px 5px;
}
.dashboard-container .dash-modal .dash-body .center{
    width: 100%;
    margin-bottom: 30px;

    /*FLEX*/
    display: flex;
}
.dashboard-container .dash-modal .dash-body .center .description-area{
    flex:  1 1;
    height: 160px;
    min-height: 140px;
    max-height: 140px;
    padding: 10px;
    background-color: white;
    font-size: 15px;
    font-weight: 500;
    border: solid 2px black;
    border-radius: 10px;
}
.dashboard-container .dash-modal .dash-body .center .description-area:focus{
    outline: 0;
    border: solid 2px #2bcbba;
    box-shadow: black 0px 0px 5px;
}
.dashboard-container .dash-modal .dash-body .center .files-container{
    background-color: white;
    border: solid 2px black;
    border-radius: 10px;
}
.dashboard-container .dash-modal .dash-body .bottom{
    width: 100%;
    text-align: center;
}
.dashboard-container .dash-modal .dash-body .bottom .btn{
    width: 120px;
    padding: 10px;
    margin: 0 20px;
    background-color: #2bcbba;
    border: solid 2px black;
    border-radius: 20px;
    color: white;
    font-size: 15px;
    font-weight: 600;
    transform: scale(1);
}
.dashboard-container .dash-modal .dash-body .bottom .btn:hover{
    cursor: pointer;
    box-shadow: black 0 0 5px;
    transform: scale(1.05);
}
.dashboard-container .dash-modal .dash-body .bottom .btn:focus{
    outline: 0;
    box-shadow: black 0 0 5px;
    transform: scale(1);
}








.dashboard-container .task-container{
    position: absolute;
    top: 90px;
    width: 100%;
}
.dashboard-container .task-container .task-center{
    width: 1260px;
    margin: auto;
    /*FLEX*/
    display: flex;
}
.dashboard-container .task-container .task-center .column-container{
    position: relative;
    width: 420px;

    /*FLEX*/
    flex: 1 1;
}
.dashboard-container .task-container .task-center .column-container .separation{
    position: absolute;
    right: 0;
    top: 5px;
    width: 1px;
    height: 600px;
    background-color: black;
    border: none;
}
.dashboard-container .task-container .task-center .column-container .column-title-cotainer{
    position: relative;
    width: 100%;
    height: 35px;
    margin-top: 10px;

    /*FLEX*/
    display: flex;
    align-items: center;
}
.dashboard-container .task-container .task-center .column-container .column-title-cotainer input{
    position: absolute;
    left: 20px;
    width: 345px;
    font-size: 20px;
    padding-bottom: 5px;
    padding-right: 35px;
    border: none;
}
.dashboard-container .task-container .task-center .column-container .column-title-cotainer input:hover{
    border-bottom: dashed 1px black;
}
.dashboard-container .task-container .task-center .column-container .column-title-cotainer input:focus{
    outline: none;
    border-bottom: dashed 1px black;
}
.dashboard-container .task-container .task-center .column-container .column-title-cotainer .edit-title-icon{
    position: absolute;
    right: 25px;
    font-size: 20px;
}
.dashboard-container .task-container .task-center .column-container .column-title-cotainer .edit-title-icon:hover{
    cursor: text;
}
.dashboard-container .task-container .task-center .column-container .card-container{
    position: relative;
    width: 300px;
    height: 200px;
    margin: 20px auto 20px auto ;
    background-color: white;
    box-shadow: 0 0 5px black;
    border-radius: 10px;
    overflow: hidden;

    /*FLEX*/
    display: flex;
}
.dashboard-container .task-container .task-center .column-container .card-container:hover{
    transform: scale(1.01);
}
.dashboard-container .task-container .task-center .column-container .card-container .card-attach{
    position: relative;
    width: 50px;
    height: 100%;
    background-color: rgb(70, 70, 70);

    /*FLEX*/
    display: flex;
    flex-direction: column;
}
.dashboard-container .task-container .task-center .column-container .card-container .card-attach .new-attach{
    margin-left: -200px;
    width: 250px;
    height: 40px;
    z-index: 50;
    background-color: #00acc1;

    /*FLEX*/
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.dashboard-container .task-container .task-center .column-container .card-container .card-attach .new-attach .new-title{
    width: 200px;
    height: 40px;

    /*FLEX*/
    display: flex;
    align-items: center;
}
.dashboard-container .task-container .task-center .column-container .card-container .card-attach .new-attach .new-title p{
    margin-left: 10px;
    font-size: 15px;
}
.dashboard-container .task-container .task-center .column-container .card-container .card-attach .new-attach .new-attach-button{
    width: 50px;
    height: 40px;
    
    /*FLEX*/
    display: flex;
    align-items: center;
    justify-content: center;
}
.dashboard-container .task-container .task-center .column-container .card-container .card-attach .new-attach .new-attach-button .new-attach-icon{
    font-size: 25px;
}
.dashboard-container .task-container .task-center .column-container .card-container .card-attach .new-attach:hover{
    cursor: pointer;
    box-shadow: 0 1px 3px black;
    animation: deploy 1s forwards;
}
.dashboard-container .task-container .task-center .column-container .card-container .card-attach .file-attach{
    margin-left: -200px;
    width: 250px;
    height: 40px;
    z-index: 50;

    /*FLEX*/
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.dashboard-container .task-container .task-center .column-container .card-container .card-attach .file-attach .file-name{
    width: 200px;
    height: 40px;

    /*FLEX*/
    display: flex;
    align-items: center;
}
.dashboard-container .task-container .task-center .column-container .card-container .card-attach .file-attach .file-name p{
    margin-left: 10px;
    font-size: 15px;
}
.dashboard-container .task-container .task-center .column-container .card-container .card-attach .file-attach .file-attach-preview{
    width: 50px;
    height: 40px;
    
    /*FLEX*/
    display: flex;
    align-items: center;
    justify-content: center;
}
.dashboard-container .task-container .task-center .column-container .card-container .card-attach .file-attach .file-attach-preview .file-attach-icon{
    font-size: 25px;
}
.dashboard-container .task-container .task-center .column-container .card-container .card-attach .file-attach:hover{
    cursor: pointer;
    box-shadow: 0 1px 3px black;
    animation: deploy 1s forwards;
}
@keyframes deploy{
    0%{margin-left: -200px;}
    100%{margin-left: 0px;}
}
.dashboard-container .task-container .task-center .column-container .card-container .card-information{
    position: relative;
    width: 250px;
    height: 100%;

    /*FLEX*/
    display: flex;
    flex-direction: column;
}
.dashboard-container .task-container .task-center .column-container .card-container .card-header{
    width: 100%;
    height: 20px;
    border-bottom: solid 2px lightgray;

    /*FLEX*/
    display: flex;
    align-items: center;
}
.dashboard-container .task-container .task-center .column-container .card-container .card-header label{
    font-size: 15px;
    font-weight: 500;
    margin-left: 10px;
    text-overflow: ellipsis;
}
.dashboard-container .task-container .task-center .column-container .card-container .card-description{
    width: 230px;
    height: 130px;
    padding: 5px 10px;
}
.dashboard-container .task-container .task-center .column-container .card-container .card-date{
    width: 100%;
    height: 40px;
    border-top: solid 2px lightgray;

    /*FLEX*/
    display: flex;
    align-items: center;
    justify-content: center;
}
.dashboard-container .task-container .task-center .column-container .card-container .card-date label{
    font-size: 15px;
    font-weight: 500;
    border-bottom: solid 2px #00acc1 ;
}

