.dashboard-container{
    position: relative;
}
.dashboard-container .dashboard-top-container{
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    border-bottom: solid 1px black;
    background-color: #2bcbba;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    z-index: 20;
}
.dashboard-container .dashboard-top-container .dashboard-top-center{
    width: 90%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
}
.dashboard-container .dashboard-top-container .dashboard-top-center .section{
    width: 300px;
}
.dashboard-container .dashboard-top-container .dashboard-top-center .section .hamburger-menu{
    width: 50px;
    margin-top: 17px;
}
.dashboard-container .dashboard-top-container .dashboard-top-center .section .hamburger-menu:hover{
    cursor: pointer;
    color: black;
    transform: scale(1.1);
}
.dashboard-container .dashboard-top-container .dashboard-top-center .section .hamburger .line{
    display: block;
    width: 33px;
    height: 3px;
    margin-top: 8px;
    border-radius: 3px;
    background-color: black;
}
.dashboard-container .dashboard-top-container .dashboard-top-center .section .logo{
    text-align: center;
}
.dashboard-container .dashboard-top-container .dashboard-top-center .section .logo img{
    height: 50px;
    width: 50px;
    margin-top: 5px;
}
.dashboard-container .dashboard-top-container .dashboard-top-center .section .right-menu{
    position: relative;
    width: 100%;
    height: 60px;
}
.dashboard-container .dashboard-top-container .dashboard-top-center .section .right-menu label{
    position: absolute;
    right: 125px;
    font-size: 18px;
    margin-top: 17.5px;
    transform: scale(1);
}
.dashboard-container .dashboard-top-container .dashboard-top-center .section .right-menu label:hover{
    cursor: pointer;
    text-decoration: underline;
    transform: scale(1.1);
}
.dashboard-container .dashboard-top-container .dashboard-top-center .section .right-menu .notification-button{
    position: absolute;
    right: 60px;
    height: 60px;
}
.dashboard-container .dashboard-top-container .dashboard-top-center .section .right-menu .notification-button button{
    position: absolute;
    z-index: 1;
    top: 5px;
    right: 0;
    background-color: #fc5c65;
    border: solid 1px black;
    border-radius: 3px;
}
.dashboard-container .dashboard-top-container .dashboard-top-center .section .right-menu .notification-button button:hover{
    cursor: pointer;
}
.dashboard-container .dashboard-top-container .dashboard-top-center .section .right-menu .notification-button .notification-button-icon{
    font-size: 30px;
    margin-top: 15px;
    cursor: pointer;
    transform: scale(1);
}
.dashboard-container .dashboard-top-container .dashboard-top-center .section .right-menu .notification-button .notification-button-icon:hover{
    cursor: pointer;
    transform: scale(1.15);
}
.dashboard-container .dashboard-top-container .dashboard-top-center .section .right-menu .exit-button{
    position: absolute;
    right: 0;
    font-size: 40px;
    margin-top: 10px;
    transform: scale(1);
}
.dashboard-container .dashboard-top-container .dashboard-top-center .section .right-menu .exit-button:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.dashboard-container .principal-menu-container{
    position: fixed;
    top: 61px;
    width: 100%;
    height: 30px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
    z-index: 30;
    background-color: white;
}
.dashboard-container .principal-menu-container nav{
    width: 90%;
    margin: auto;
}
.dashboard-container .principal-menu-container nav ul{
    list-style: none;
}
.dashboard-container .principal-menu-container nav ul li{
    margin-top: 3.5px;
    height: 26.5px;
    display: inline-block;
    transform: scale(1);
}
.dashboard-container .principal-menu-container nav ul li:hover{
    transform: scale(1.1);
}
.dashboard-container .principal-menu-container nav ul li label{
    font-size: 15px;
    margin-right: 20px;
}
.dashboard-container .principal-menu-container nav ul li label:hover{
    cursor: pointer;
    text-decoration: underline;
}
.dashboard-container .task-container{
    position: absolute;
    top: 90px;
    width: 100%;
    height: 300px;
}
.dashboard-container .task-container .task-center{
    width: 1260px;
    margin: auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
}
.dashboard-container .task-container .task-center .column-container{
    position: relative;
    width: 420px;
}
.dashboard-container .task-container .task-center .column-container hr{
    position: absolute;
    right: 0;
    top: 5px;
    width: 1px;
    height: 600px;
    background-color: black;
    border: none;
}
.dashboard-container .task-container .task-center .column-container .column-title-cotainer{
    position: relative;
    width: 100%;
    height: 50px;
    margin-top: 10px;
}
.dashboard-container .task-container .task-center .column-container .column-title-cotainer input{
    position: absolute;
    left: 95px;
    width: 200px;
    font-size: 20px;
    padding-bottom: 5px;
    padding-right: 30px;
    border: none;
}
.dashboard-container .task-container .task-center .column-container .column-title-cotainer input:hover{
    border-bottom: solid 2px black;
}
.dashboard-container .task-container .task-center .column-container .column-title-cotainer input:focus{
    outline: none;
    border-bottom: solid 2px black;
}
.dashboard-container .task-container .task-center .column-container .column-title-cotainer .edit-title-icon{
    position: absolute;
    right: 100px;
    font-size: 20px;
    margin-top: 5px;
}
.dashboard-container .task-container .task-center .column-container .column-title-cotainer .edit-title-icon:hover{
    cursor: text;
}
.dashboard-container .task-container .task-center .column-container .card-container{
    position: relative;
    width: 300px;
    height: 200px;
    margin: auto;
    background-color: white;
    box-shadow: 0 0 5px black;
    border-radius: 10px;
}
.dashboard-container .task-container .task-center .column-container .card-container .card-header{
    position: relative;
    width: 100%;
    height: 30px;
    background-color: #fc5c65;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0 1px 2px black;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}
.dashboard-container .task-container .task-center .column-container .card-container .card-header label{
    font-size: 15px;
    margin-left: 20px;
}
.dashboard-container .task-container .task-center .column-container .card-container .card-header .maxi-button{
    position: absolute;
    right: 20px;
    font-size: 15px;
}
.dashboard-container .task-container .task-center .column-container .card-container .card-header .mini-button{
    position: absolute;
    right: 45px;
    font-size: 15px;
}
.dashboard-container .task-container .task-center .column-container .card-container .card-header .maxi-button:hover,
.dashboard-container .task-container .task-center .column-container .card-container .card-header .mini-button:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.dashboard-container .task-container .task-center .column-container .card-container .card-date{
    width: 160px;
    height: 30px;
    margin: auto;
    font-size: 15px;
    background-color: #fc5c65;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0 1px 2px black;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dashboard-container .task-container .task-center .column-container .card-container .card-date label{
    font-size: 15px;
}
.dashboard-container .task-container .task-center .column-container .card-container .card-description{
    width: 240px;
    height: 100px;
    padding: 10px;
    font-size: 15px;
    margin: auto;
    margin-top: 20px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: #fc5c6485;
}
.dashboard-container .task-container .task-center .column-container .card-container .card-attach{
    position: absolute;
    bottom: 0;
    right: 30px;
    width: 240px;
    height: 50px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: #fc5c65;
    box-shadow: 0 -1px 2px black;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dashboard-container .task-container .task-center .column-container .card-container .card-attach .new-attach{
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
    border: solid 5px #eb3b5a; 
    border-radius: 99rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dashboard-container .task-container .task-center .column-container .card-container .card-attach .new-attach .new-attach-button{
    color: black;
    font-size: 15px;
}
.dashboard-container .task-container .task-center .column-container .card-container .card-attach .file-attach{
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
    border: solid 5px #eb3b5a; 
    border-radius: 99rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dashboard-container .task-container .task-center .column-container .card-container .card-attach .file-attach .file-attach-button{
    color: black;
    font-size: 15px;
}