*{
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.logSign-container{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient( #2bcbbb25, rgba(0, 0, 0, 0.5)), url('../images/login-bg.jpg');
    background-attachment: fixed;
    background-size: cover;

    /*FLEX*/
    display: flex;
    align-items: center;
    justify-content: center;
}
.logSign-container .logSign-box{
    width: 800px;
    height: 500px;
    border-radius: 5px;
    overflow: hidden;

    /*FLEX*/
    display: flex;
}
.logSign-container .logSign-box .section-left{
    position: relative;
    background-color: #2bcbba;
    
    /*FLEX*/
    flex: 1 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logSign-container .logSign-box .section-left .center{
    width: 80%;
    height: 90%;
    text-align: center;

    /*FLEX*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.logSign-container .logSign-box .section-left .center p{
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-shadow: 0 0 5px black;
}
.logSign-container .logSign-box .section-left .center button{
    position: relative;
    width: 80%;
    height: 40px;
    text-align: center;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 500;
    border: solid 2px black;
}
.logSign-container .logSign-box .section-left .center button:hover{
    cursor: pointer;
    box-shadow: black 0 0 5px;
    transform: scale(1.05);
}
.logSign-container .logSign-box .section-left .center button:focus{
    outline: 0;
    box-shadow: black 0 0 5px;
    transform: scale(1);
}
.logSign-container .logSign-box .section-left .center .facebook{
    background: #3b5998;
    color: white;
}
.logSign-container .logSign-box .section-left .center .facebook-icon{
    position: absolute;
    left: 10px;
    font-size: 20px;
}
.logSign-container .logSign-box .section-left .center .google{
    background: white;
}
.logSign-container .logSign-box .section-left .center .google-icon{
    position: absolute;
    left: 10px;
    width: 20px;
}
.logSign-container .logSign-box .section-left .or-ball{
    position: absolute;
    right: -30px;
    top: 220px;
    width: 60px;
    height: 60px;
    border-radius: 99rem;
    background-color: #2bcbba;
    color: white;
    font-size: 40px;

    /*FLEX*/
    display: flex;
    align-items: center;
    justify-content: center;
}
.logSign-container .logSign-box .section-right{
    background-color: white;
    
    /*FLEX*/
    flex: 1 1;
    display: flex; 
    align-items: center;
    justify-content: center;
}
.logSign-container .logSign-box .section-right .center{
    position: relative;
    width: 80%;
    height: 90%;

    /*FLEX*/
    display: flex;
    flex-direction: column;
}
.logSign-container .logSign-box .section-right .center .switch{
    width: 100%;
    position: absolute;
    font-size: 20px;

    /*FLEX*/
    display: flex;
    justify-content: space-around;
}
.logSign-container .logSign-box .section-right .center .switch .arrow{
    font-size: 15px;
}
.logSign-container .logSign-box .section-right .center .switch .sw-btn:hover{
    cursor: pointer;
    border-bottom: solid 3px rgb(150, 150, 150);
    transform: scale(1.05);
}
.logSign-container .logSign-box .section-right .center .switch .activated{
    border-bottom: solid 3px #2bcbba;
}
.logSign-container .logSign-box .section-right .center .login-form{
    width: 100%;
    
    /*FLEX*/
    flex: 1 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logSign-container .logSign-box .section-right .center .login-form h1{
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 20px;
}
.logSign-container .logSign-box .section-right .center .login-form p{
    font-size: 12px;
    margin-bottom: 10px;
}
.logSign-container .logSign-box .section-right .center .login-form form{
    width: 100%;

    /*FLEX*/
    display: flex;
    align-items: center;
    flex-direction: column;
}
.logSign-container .logSign-box .section-right .center .login-form form .input-group{
    width: 100%;
    height: 44px;
    margin-bottom: 10px;
    text-align: center;
}
.logSign-container .logSign-box .section-right .center .login-form form .input-group input{
    width: 100%;
    height: 40px;
    background: white;
    text-align: center;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 500;
    border: solid 2px black;
}
.logSign-container .logSign-box .section-right .center .login-form .input-group input:focus{
    outline: 0;
    border: solid 2px #2bcbba;
    box-shadow: black 0px 0px 5px;
}
.logSign-container .logSign-box .section-right .center .login-form .login-options{
    position: relative;
    width: 100%;
    margin: auto;
    height: 20px;
    margin-bottom: 25px;
}
.logSign-container .logSign-box .section-right .center .login-form .login-options .remember{
    position: absolute;
    left: 0;
}
.logSign-container .logSign-box .section-right .center .login-form .login-options .remember input{
    margin-right: 10px;
}
.logSign-container .logSign-box .section-right .center .login-form .login-options .remember label:hover,
.logSign-container .logSign-box .section-right .center .login-form .login-options .remember input:hover{
    cursor: pointer;
}
.logSign-container .logSign-box .section-right .center .login-form .login-options .forgot{
    position: absolute;
    right: 0;
    color: black;
    text-decoration: none;
    border-bottom: solid 2px #2bcbba;
}
.logSign-container .logSign-box .section-right .center .login-form .login-options .forgot:hover{
    border-bottom: solid 2px rgb(150, 150, 150);
}
.logSign-container .logSign-box .section-right .center .login-form .btn{
    width: 80%;
    margin: auto;
    padding: 12px;
    background-color: #2bcbba;
    border: solid 2px black;
    border-radius: 20px;
    color: white;
    font-size: 15px;
    font-weight: 600;
}
.logSign-container .logSign-box .section-right .center .login-form .btn:hover{
    cursor: pointer;
    box-shadow: black 0 0 5px;
    transform: scale(1.05);
}
.logSign-container .logSign-box .section-right .center .login-form .btn:focus{
    outline: 0;
    box-shadow: black 0 0 5px;
    transform: scale(1);
}



.logSign-container .logSign-box .section-right .center .register-form{
    width: 100%;
    
    /*FLEX*/
    flex: 1 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logSign-container .logSign-box .section-right .center .register-form h1{
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 20px;
}
.logSign-container .logSign-box .section-right .center .register-form p{
    font-size: 12px;
    margin-bottom: 10px;
}
.logSign-container .logSign-box .section-right .center .register-form form{
    width: 100%;

    /*FLEX*/
    display: flex;
    align-items: center;
    flex-direction: column;
}
.logSign-container .logSign-box .section-right .center .register-form form .input-group{
    width: 100%;
    height: 44px;
    margin-bottom: 10px;
    text-align: center;
}
.logSign-container .logSign-box .section-right .center .register-form form .input-group input{
    width: 100%;
    height: 40px;
    background: white;
    text-align: center;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 500;
    border: solid 2px black;
}
.logSign-container .logSign-box .section-right .center .register-form .input-group input:focus{
    outline: 0;
    border: solid 2px #2bcbba;
    box-shadow: black 0px 0px 5px;
}
.logSign-container .logSign-box .section-right .center .register-form .register-options{
    position: relative;
    width: 100%;
    margin: auto;
    height: 20px;
    margin-bottom: 25px;
}
.logSign-container .logSign-box .section-right .center .register-form .register-options .terms{
    position: absolute;
    left: 0;
}
.logSign-container .logSign-box .section-right .center .register-form .register-options .terms input{
    margin-right: 10px;
}
.logSign-container .logSign-box .section-right .center .register-form .register-options .terms label{
    margin-right: 5px;
}
.logSign-container .logSign-box .section-right .center .register-form .register-options .terms a{
    color: black;
    font-weight: 500;
    text-decoration: none;
    border-bottom: solid 2px #2bcbba;
}
.logSign-container .logSign-box .section-right .center .register-form .register-options .terms a:hover{
    border-bottom: solid 2px rgb(150, 150, 150);
}
.logSign-container .logSign-box .section-right .center .register-form .register-options .terms label:hover,
.logSign-container .logSign-box .section-right .center .register-form .register-options .terms input:hover{
    cursor: pointer;
}
.logSign-container .logSign-box .section-right .center .register-form .btn{
    width: 80%;
    margin: auto;
    padding: 12px;
    background-color: #2bcbba;
    border: solid 2px black;
    border-radius: 20px;
    color: white;
    font-size: 15px;
    font-weight: 600;
}
.logSign-container .logSign-box .section-right .center .register-form .btn:hover{
    cursor: pointer;
    box-shadow: black 0 0 5px;
    transform: scale(1.05);
}
.logSign-container .logSign-box .section-right .center .register-form .btn:focus{
    outline: 0;
    box-shadow: black 0 0 5px;
    transform: scale(1);
}
