*{
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.register-container{
    background-image: linear-gradient( #2bcbbb25, rgba(0, 0, 0, 0.5)), url('../images/register-bg.jpg');
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    min-height: 500px;
    position: absolute;
}
.register-container .register-center{
    width: 100%;
    min-width: 700px;
    min-height: 400px;
    margin-top: 5%;
}
.register-container .register-center .section{
    float: left;
    width: 50%;
    text-align: center;
}
.register-container .register-center .section .register-form{
    margin: 6% auto 5%;
    width: 70%;
    min-width: 300px;
    min-height: 400px;
    background-image: linear-gradient( #2bcbbb25, rgba(0, 0, 0, 0.5)), url('../images/register-bg-df.jpg');
    background-attachment: fixed;
    background-size: cover;
    border: solid 5px white;
    border-radius: 15px;
}
.register-container .register-center .section .register-form h2{
    padding-top: 40px;
    padding-bottom: 25px;
    color: #2bcbba;
    font-weight: 1000;
    text-shadow: black 0 0 5px;
}
.register-container .register-center .section .register-form .input-group{
    position: relative;
    width: 60%;
    min-width: 250px;
    height: 30px;
    margin: auto;
    margin-bottom: 40px;
}
.register-container .register-center .section .register-form .input-group input{
    height: 40px;
    width: 100%;
    background: white;
    text-align: center;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 500;
    border: solid 2px black;
}
.register-container .register-center .section .register-form .input-group input:focus{
    outline: 0;
    border: solid 2px #2bcbba;
    box-shadow: black 0px 0px 15px;
}
.register-container .register-center .section .register-form .btn{
    background-color: #2bcbba;
    border: solid 2px black;
    padding: 12px;
    border-radius: 20px;
    width: 60%;
    color: white;
    font-size: 15px;
    font-weight: 600;
    transform: scale(1);
}
.register-container .register-center .section .register-form .btn:hover{
    cursor: pointer;
    box-shadow: black 0 0 5px;
    transform: scale(1.05);
}
.register-container .register-center .section .register-form .btn:focus{
    outline: 0;
    box-shadow: black 0 0 5px;
    transform: scale(1);
}
.register-container .register-center .section .register-text{
    margin: 23% auto;
    width: 95%;
    min-width: 300px;
    font-size: 35px;
    font-weight: 500;
    color: white;
    text-shadow: 3px 3px 3px black;
}
.register-container .register-center .section .register-text .already-account{
    margin-top: 30px;
    font-size: 25px;
}
.register-container .register-center .section .register-text .access-login{
    width: 100%;
    margin-top: 15px;
}
.register-container .register-center .section .register-text .access-login button{
    text-decoration: none;
    color: white;
    text-shadow: none;
    background-color: #2bcbba;
    font-size: 20px;
    padding: 5px 20px 5px 20px;
    border-radius: 20px;
    border: solid 2px black;
}
.register-container .register-center .section .register-text .access-login button:hover{
    cursor: pointer;
    box-shadow: black 0 0 5px;
    transform: scale(1.05);
}
.register-container .register-center .section .register-text .access-login button:focus{
    outline: 0;
    box-shadow: black 0 0 5px;
    transform: scale(1);
}