.waiting-container{
    background-image: linear-gradient( #2bcbbb25, rgba(0, 0, 0, 0.5)), url('../images/waiting-bg.jpg');
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    opacity: 1;
    text-align: center;
}
.waiting-container .waiting-message{
    width: 40%;
    margin: auto;
    min-width: 300px;
    min-height: 300px;
    background-image: linear-gradient( #2bcbbb25, rgba(0, 0, 0, 0.5)), url('../images/waiting-bg-df.jpg');
    background-attachment: fixed;
    background-size: cover;
    border: solid 5px white;
    border-radius: 15px;
    position: relative;
    margin-top: 5%;
}
.waiting-container .waiting-message h2{
    padding-top: 45px;
    padding-bottom: 25px;
    color: #2bcbba;
    font-weight: 800;
    text-shadow: black 0 0 5px;
}
.waiting-container .waiting-message .waiting-text p{
    color: white;
    font-size: 22px;
}
.waiting-container .waiting-message .waiting-text{
    padding: 20px;
    margin-top: 0px;
    margin-bottom: 30px;
}
.waiting-container .waiting-message .resend{
    margin-top: 20px;
}
.waiting-container .waiting-message .resend p{
    font-size: 18px;
}
.waiting-container .waiting-message .resend .btn{
    background-color: #2bcbba;
    border: solid 2px black;
    padding: 12px;
    margin-top: 20px;
    border-radius: 20px;
    width: 60%;
    color: white;
    font-size: 15px;
    font-weight: 600;
    transform: scale(1);
}
.waiting-container .waiting-message .resend .btn:hover{
    cursor: pointer;
    box-shadow: black 0 0 5px;
    transform: scale(1.05);
}
.waiting-container .waiting-message .resend .btn:focus{
    outline: 0;
    box-shadow: black 0 0 5px;
    transform: scale(1);
}