.about-container{
    position: relative;
}
.about-container .about-top{
    position: relative;
    height: 630px;
    width: 100%;
    background-image: url('../images/about-bg.jpg');
    background-size: cover;
}
.about-container .about-top .about-top-text{
    position: absolute;
    top: 275px;
    width: 100%;
    text-align: center;
}
.about-container .about-top .about-top-text p{
    color: white;
    font-size: 50px;
    font-weight: 800;
    -webkit-text-stroke: 2px black;
    text-shadow: 3px 3px 3px rgb(0, 0, 0);
}
.about-container .about-text-section{
    position: relative;
    width: 100%;
    background-color: #f1f1f1;
}
.about-container .about-text-section .about-content{
    width: 90%;
    margin: auto;
    text-align: justify;
}
.about-container .about-text-section .about-content h1{
    text-align: center;
    font-weight: 800;
    line-height: 70px;
    color: #2bcbba;
    -webkit-text-stroke: 2px black;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}
.about-container .about-text-section .about-content p{
    font-size: 20px;
}
.about-container .about-text-section .about-content h2{
    text-align: center;
    font-weight: 800;
    line-height: 70px;
    color: #2bcbba;
    -webkit-text-stroke: 2px black;
    text-shadow: 1px 1px 5px rgb(0, 0, 0);
}