.header-container{
    position: absolute;
    width: 100%;
    top: 0;
}
.header-container .logo-container{
    float: left;
    position: absolute;
    left: 20px;
    top: 5px;
}
.header-container .logo-container img{
    float: left;
    width: 50px;
}
.header-container .logo-container label{
    float: left;
    margin-top: 2px;
    margin-left: 20px;
    font-size: 20px;
    color: white;
    text-shadow: 1px 1px 5px black;
}
.header-container .menu-container{
    background-color: rgb(220, 220, 220);
    width: 60%;
    min-width: 450px;
    height: 60px;
    margin: auto;
    border: solid 1px rgb(177, 179, 171);
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    box-shadow: 0 0 20px black;
}
.header-container .menu-container .menu-border{
    background-color: rgb(241, 241, 241);
    width: 97%;
    height: 50px;
    margin: auto;
    border: solid 1px rgb(215, 218, 206);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.header-container .menu-container .menu-border a{
    text-decoration: none;
    color: black;
    padding-top: 10px;
    font-weight: 500;
}
.header-container .menu-container .menu-border a:hover{
    background-color: #2bcbba; 
    color: white;
}
.header-container .menu-container .menu-border .menu-botton-left{
    width: 25%;
    height: 40px;
    float: left;
    text-align: center;
    background-color: rgb(241, 241, 241);
    border-bottom-left-radius: 50px;
}
.header-container .menu-container .menu-border .menu-botton{
    width: 25%;
    height: 40px;
    float: left;
    text-align: center;
    background-color: rgb(241, 241, 241);
}
.header-container .menu-container .menu-border .menu-botton-right{
    width: 25%;
    height: 40px;
    float: left;
    text-align: center;
    background-color: rgb(241, 241, 241);
    border-bottom-right-radius: 50px;
}
.header-container .menu-container .menu-border .activated{
    background-color: #2bcbba; 
    color: white;
}