.home-container{
    position: relative;
}
.home-container .first-section{
    position: relative;
    height: 630px;
    width: 100%;
    background-image: url('../images/first-section-bg.jpg');
    background-size: cover;
}
.home-container .first-section .welcome{
    position: absolute;
    top: 175px;
    width: 100%;
    min-width: 550px;
    text-align: center;
    color: white;
}
.home-container .first-section .welcome .welcome-text{
    font-size: 50px;
    font-weight: 800;
    -webkit-text-stroke: 2px black;
    text-shadow: 3px 3px 3px rgb(0, 0, 0);
}
.home-container .first-section .welcome .activities label{
    padding: 15px;
    font-size: 35px;
    font-weight: 800;
    -webkit-text-stroke: 2px black;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}
.home-container .first-section .welcome .activities img{
    height: 25px;
}
.home-container .first-section .welcome .more{
    font-size: 35px;
    font-weight: 800;
    -webkit-text-stroke: 2px black;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}
.home-container .first-section .welcome .only-page{
    font-size: 45px;
    font-weight: 800;
    -webkit-text-stroke: 2px black;
    text-shadow: 2.5px 2.5px 2.5px rgb(0, 0, 0);
}
.home-container .first-section .welcome .start-now{
    width: 100%;
    margin-top: 25px;
}
.home-container .first-section .welcome .start-now button{
    text-decoration: none;
    color: white;
    text-shadow: none;
    background-color: #2bcbba;
    font-size: 20px;
    padding: 5px 20px 5px 20px;
    border-radius: 20px;
    border: solid 2px black;
}
.home-container .first-section .welcome .start-now button:hover{
    cursor: pointer;
    box-shadow: black 0 0 5px;
    transform: scale(1.05);
}
.home-container .first-section .welcome .start-now button:focus{
    outline: 0;
    box-shadow: black 0 0 5px;
    transform: scale(1);
}
.down{
    position: absolute;
    bottom: 30px;
    right: 40px;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 70px;
    color: #2bcbba;
    transform: scale(1);
    animation: jump 1s infinite alternate;
}
@keyframes jump{
    0%{bottom: 40px;}
    100%{bottom: 30px;}
}
.down:hover{
    cursor: pointer;
    transform: scale(1.1);
    color: rgb(0, 0, 0);
}
.home-container .second-section{
    position: relative;
    height: 630px;
    width: 100%;
    background-color: #f1f1f1;
}
.home-container .second-section .left-section{
    float: left;
    width: 48%;
}
.home-container .second-section .left-section .modes-container{
    width: 80%;
    height: 450px;
    margin: auto;
    margin-top: 14%;
}
.home-container .second-section .left-section .modes-container .mode-box{
    float: left;
    width: 50%;
    height: 225px;
}
.home-container .second-section .left-section .modes-container .mode-box .modes{
    width: 70%;
    height: 175px;
    margin: auto;
    border: solid 10px rgb(173, 173, 173);
    border-radius: 15px;
    background-color: white;
    box-shadow: black 0 0 15px;
    transform: scale(1);
}
.home-container .second-section .left-section .modes-container .mode-box .modes:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.home-container .second-section .left-section .modes-container .mode-box .bottom{
    margin-top: 30px;
}
.home-container .second-section .left-section .modes-container .mode-box .modes-icon-container{
    width: 100%;
    height: 80%;
    text-align: center;
}
.home-container .second-section .left-section .modes-container .mode-box .modes-icon-container img{
    width: 130px;
    margin-top: 30px;
    text-align: center;
}
.home-container .second-section .left-section .modes-container .mode-box .modes-icon-container .modes-icon{
    font-size: 100px;
    margin-top: 25px;
}
.home-container .second-section .left-section .modes-container .mode-box .modes-text{
    width: 90%;
    height: 20%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
}
.home-container .second-section .left-section .modes-container .mode-box .modes-text p{
    padding-top: 5px;
}
.home-container .second-section .middle-section{
    float: left;
    margin-top: 3%;
    border: solid 1px rgb(202, 202, 202);
    width: 1px;
    height: 550px;
    background-color: rgb(202, 202, 202);
}
.home-container .second-section .right-section{
    float: left;
    width: 48%;
}
.home-container .second-section .right-section .right-section-text{
    width: 85%;
    margin-left: 15%;
    margin-top: 32.5%;
    font-size: 50px;
    font-weight: 800;
    color: #2bcbba;
    -webkit-text-stroke: 2px black;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}
.home-container .second-section .right-section .right-section-text .vis{
    color: #2bcbba;
}
.home-container .second-section .right-section .right-section-text .act{
    color: #2bcbba;;
}
.home-container .second-section .right-section .right-section-text .mod{
    color: #2bcbba;
}
.home-container .third-section{
    overflow: hidden;
    position: relative;
    height: 630px;
    width: 100%;
    background-color: #f1f1f1;
}
.home-container .third-section ul{
    display: flex;
    position: absolute;
    width: 200%;
    animation: slider 20s infinite linear;
}
.home-container .third-section ul li{
    width: 100%;
    list-style: none;
}
.home-container .third-section ul li img{
    width: 100%;
    background-size: cover;
}
@keyframes slider {
    0% {margin-left: 0%;}
    100%{margin-left: -100%;}
}
.home-container .third-section .third-section-text{
    position: absolute;
    width: 100%;
    margin-top: 225px;
    color: #2bcbba;
    -webkit-text-stroke: 2px black;
    text-shadow: 3px 3px 5px rgb(0, 0, 0);
    text-align: center;
}
.home-container .third-section .third-section-text .title{
    width: 60%;
    max-width: 800px;
    margin: auto;
    font-size: 50px;
    font-weight: 800;
    border-radius: 50px;
}
.home-container .third-section .third-section-text .subtitle{
    width: 42.5%;
    max-width: 575px;
    margin: auto;
    font-size: 40px;
    font-weight: 800;
    border-radius: 40px;
}
.home-container .four-section{
    position: relative;
    height: 630px;
    width: 100%;
    background-color: #f1f1f1;
}
.home-container .four-section .characteristic-container{
    float: left;
    width: 100%;
    height: 630px;
}
.home-container .four-section .characteristic-container .characteristic-box{
    width: 80%;
    margin: auto;
    height: 504px;
    margin-top: 63px;
}.home-container .four-section .characteristic-container .characteristic-box .characteristic-section{
    width: 33.33%;
    float: left;
    height: 504px;
}
.home-container .four-section .characteristic-container .characteristic-box .characteristic-section .characteristic{
    width: 85%;
    margin: auto;
    height: 453.6px;
    margin-top: 15px;
    border: solid 10px rgb(173, 173, 173);
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: black 0 0 15px;
    transform: scale(1);
}
.home-container .four-section .characteristic-container .characteristic-box .characteristic-section .characteristic:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.home-container .four-section .characteristic-container .characteristic-box .characteristic-section .characteristic .characteristic-img{
    width: 250px;
    height: 250px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    border-radius: 99rem;
    border: solid 10px black;
}
.home-container .four-section .characteristic-container .characteristic-box .characteristic-section .characteristic .characteristic-img img{
    width: 175px;
    margin-top: 50px;
}
.home-container .four-section .characteristic-container .characteristic-box .characteristic-section .characteristic .characteristic-text{
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
.home-container .four-section .characteristic-container .characteristic-box .characteristic-section .characteristic .characteristic-text h1{
    color: #2bcbba;
    font-weight: 800;
    -webkit-text-stroke: 2px black;
    text-shadow: 3px 3px 5px rgb(0, 0, 0);
}
.home-container .four-section .characteristic-container .characteristic-box .characteristic-section .characteristic .characteristic-text p{
    font-size: 25px;
    font-weight: 500;
}