*{
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.login-container{
    background-image: linear-gradient( #2bcbbb25, rgba(0, 0, 0, 0.5)), url('../images/login-bg.jpg');
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    min-height: 500px;
    position: absolute;
}
.login-container .login-center{
    width: 100%;
    min-width: 700px;
    min-height: 400px;
    margin-top: 4%;
}
.login-container .login-center .section-left{
    float: left;
    width: 45%;
    text-align: center;
}
.login-container .login-center .section-right{
    float: left;
    width: 55%;
    text-align: center;
}
.login-container .login-center .section-left .login-form{
    margin: auto;
    width: 75%;
    min-width: 300px;
    min-height: 400px;
    background-image: linear-gradient( #2bcbbb25, rgba(0, 0, 0, 0.5)), url('../images/login-bg-df.jpg');
    background-attachment: fixed;
    background-size: cover;
    border: solid 5px white;
    border-radius: 15px;
}
.login-container .login-center .section-left .login-form h2{
    padding-top: 35px;
    padding-bottom: 25px;
    color: #2bcbba;
    font-size: 30px;
    font-weight: 800;
    text-shadow: black 0 0 5px;
    -webkit-text-stroke: 2px black;
}
.login-container .login-center .section-left .login-form .input-group{
    position: relative;
    width: 60%;
    min-width: 250px;
    height: 30px;
    margin: auto;
    margin-bottom: 40px;
}
.login-container .login-center .section-left .login-form .input-group input{
    height: 40px;
    width: 100%;
    background: white;
    text-align: center;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 500;
    border: solid 2px black;
}
.login-container .login-center .section-left .login-form .input-group input:focus{
    outline: 0;
    border: solid 2px #2bcbba;
    box-shadow: black 0px 0px 15px;
}
.login-container .login-center .section-left .login-form .login-options{
    width: 60%;
    min-width: 250px;
    margin: auto;
    height: 20px;
    margin-bottom: 25px;
    color: white;
    position: relative;
}
.login-container .login-center .section-left .login-form .login-options .remember{
    position: absolute;
    left: 0;
}
.login-container .login-center .section-left .login-form .login-options .remember input{
    margin-right: 10px;
}
.login-container .login-center .section-left .login-form .login-options .remember label:hover,
.login-container .login-center .section-left .login-form .login-options .remember input:hover{
    cursor: pointer;
}
.login-container .login-center .section-left .login-form .login-options .forgot{
    position: absolute;
    right: 0;
    text-decoration: none;
    color: white;
}
.login-container .login-center .section-left .login-form .login-options .forgot:hover{
    text-decoration: underline;
}
.login-container .login-center .section-left .login-form .btn{
    background-color: #2bcbba;
    border: solid 2px black;
    padding: 12px;
    border-radius: 20px;
    width: 60%;
    color: white;
    font-size: 15px;
    font-weight: 600;
    transform: scale(1);
}
.login-container .login-center .section-left .login-form .btn:hover{
    cursor: pointer;
    box-shadow: black 0 0 5px;
    transform: scale(1.05);
}
.login-container .login-center .section-left .login-form .btn:focus{
    outline: 0;
    box-shadow: black 0 0 5px;
    transform: scale(1);
}
.login-container .login-center .section-left .login-form .login-thro-text{
    width: 90%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #2bcbba;
    font-weight: 800;
    text-shadow: black 0 0 5px;
    -webkit-text-stroke: 1.5px black;
}
.login-container .login-center .section-left .login-form .login-thro{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 40px;
    background-color: white;
    border: solid 2px black;
    padding: 10px;
    border-radius: 20px;
    width: 20%;
    transform: scale(1);
}
.login-container .login-center .section-left .login-form .login-thro:hover{
    cursor: pointer;
    box-shadow: black 0 0 5px;
    transform: scale(1.05);
}
.login-container .login-center .section-left .login-form .login-thro:focus{
    outline: 0;
    box-shadow: black 0 0 5px;
    transform: scale(1);
}
.login-container .login-center .section-left .login-form .login-thro .login-icons{
    font-size: 20px;
    color: #2bcbba;
}
.login-container .login-center .section-right .login-text{
    margin: 135px auto;
    width: 95%;
    min-width: 300px;
}
.login-container .login-center .section-right .login-text p{
    font-size: 40px;
    font-weight: 800;
    color: white;
    -webkit-text-stroke: 2px black;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}
.login-container .login-center .section-right .login-text .no-account{
    margin-top: 30px;
    font-size: 30px;
}
.login-container .login-center .section-right .login-text .access-register{
    width: 100%;
    margin-top: 15px;
}
.login-container .login-center .section-right .login-text .access-register button{
    text-decoration: none;
    color: white;
    text-shadow: none;
    background-color: #2bcbba;
    font-size: 20px;
    padding: 5px 20px 5px 20px;
    border-radius: 20px;
    border: solid 2px black;
}
.login-container .login-center .section-right .login-text .access-register button:hover{
    cursor: pointer;
    box-shadow: black 0 0 5px;
    transform: scale(1.05);
}
.login-container .login-center .section-right .login-text .access-register button:focus{
    outline: 0;
    box-shadow: black 0 0 5px;
    transform: scale(1);
}